.btn{
    margin: 10px;
}

.form-label{
    margin: 10px;
}

.form-input{
    border-radius: 10px;
    width: 95%;
    margin: 10px;
}

body{
    background: #ececec;
}

/*------------ Login container ------------*/
.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 930px;
}

/*------------ Left box ------------*/
.left-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}

.rounded-5{
    border-radius: 30px;
}

/*------------ For small screens ------------*/
@media only screen and (max-width: 768px) {
    .box-area {
        flex-direction: column; /* Stack elements vertically */
        width: 100%;
    }
    .left-box {
        order: -1; /* Ensure the left box comes first */
        width: 100%; /* Full width */
        margin-bottom: 0px; /* Space between the boxes */
    }
    .right-box {
        width: 100%; /* Full width */
        padding: 20px;
    }
    .featured-image img {
        width: 100%;
        max-width: 100px; /* Ensure the image does not get too large */
    }
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 150px;
    max-height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}